{% extends 'base.html' %}
{% block title %}Nuevo Curso{% endblock %}
{% block content %}
  <h1>{{ titulo }}</h1>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3 ">
      <label for="{{ form.nombre.id_for_label }}"
             class="form-label d-flex align-items-start">{{ form.nombre.label }}</label>
      {{ form.nombre }}
    </div>
    <div class="mb-3">
      <label for="{{ form.descripcion.id_for_label }}"
             class="form-label d-flex align-items-start">{{ form.descripcion.label }}</label>
      {{ form.descripcion }}
    </div>
    <div class="mb-3">
      <label for="{{ form.contenido.id_for_label }}"
      class="form-label d-flex align-items-start">{{ form.contenido.label }}</label>
      {{ form.contenido }}
    </div>
    <div class="row">
      <div class="col-6 mb-3">
        <label for="{{ form.precio.id_for_label }}"
               class="form-label d-flex align-items-start">{{ form.precio.label }}</label>
        {{ form.precio }}
      </div>
      <div class="col-6 mb-3">
        <label for="{{ form.fecha_publicacion.id_for_label }}"
               class="form-label d-flex align-items-start">{{ form.fecha_publicacion.label }}</label>
        {{ form.fecha_publicacion }}
      </div>
    </div>
    <div class="row">
      <div class="col-4 mb-3">
        <label for="{{ form.instructor.id_for_label }}"
               class="form-label d-flex align-items-start">{{ form.instructor.label }}</label>
        {{ form.instructor }}
      </div>
      <div class="col-4 mb-3">
        <label for="{{ form.categoria.id_for_label }}"
               class="form-label d-flex align-items-start">{{ form.categoria.label }}</label>
        {{ form.categoria }}
      </div>
      <div class="col-4 mb-3">
        <label for="{{ form.duracion.id_for_label }}"
               class="form-label d-flex align-items-start">{{ form.duracion.label }}</label>
        {{ form.duracion }}
        {{ form.duracion.help_text }}
      </div>
    </div>
    <div class="mb-3 d-flex align-items-start">
      <label for="{{ form.destacado.id_for_label }}"
             class="form-label d-flex align-items-start me-3">{{ form.destacado.label }}</label>
      {{ form.destacado }}
    </div>
    <div class="mb-3">
      <label for="{{ form.estado.id_for_label }}"
             class="form-label d-flex align-items-start">{{ form.estado.label }}</label>
      {{ form.estado }}
    </div>
    <button type="submit" class="cta-button">{{ submit }}</button>
    <a href="{% url 'home' %}" class="cta-button">Regresar</a>
  </form>
{% endblock %}
